{% extends "prelogintemplate.html" %}

{% block body %}
<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2> THE HUB </h2>
        </header>
        <p>This is a <strong> community </strong> exchange hub </p>

        <footer>
            <ul class="buttons stacked">
                <li><a href="/login" class="button fit scrolly"> Log In </a></li>
            </ul>
        </footer>

    </div>

</section>

{% endblock %}