{% extends "template.html" %}

{% block body %}
<br> <br>
<header class="special container">
	<span class="icon solid fa-list"></span>
	<h2> Listings </h2>
</header>

<section class="wrapper style3 container special">

    <h2 id = "cat1"> Category 1</h2>

    <div class="row">
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
                <header>
                    <h3>A Really Fast Train</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic02.jpg" alt="" /></a>
                <header>
                    <h3>An Airport Terminal</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
    </div>

    <h2 id = "cat2"> Category 2 </h2>

    <div class="row">
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
                <header>
                    <h3>A Really Fast Train</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic02.jpg" alt="" /></a>
                <header>
                    <h3>An Airport Terminal</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
    </div>

    <h2 id = "cat3"> Category 3</h2>

    <div class="row">
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
                <header>
                    <h3>A Really Fast Train</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic02.jpg" alt="" /></a>
                <header>
                    <h3>An Airport Terminal</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
    </div>


    <h2 id = "cat4"> Category 4</h2>

    <div class="row">
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
                <header>
                    <h3>A Really Fast Train</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
        <div class="col-6 col-12-narrower">

            <section>
                <a href="#" class="image featured"><img src="/static/images/pic02.jpg" alt="" /></a>
                <header>
                    <h3>An Airport Terminal</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
            </section>

        </div>
    </div>

    <footer class="major">
        <ul class="buttons">
            <li><a href="/profile#mylistings" class="button">See My Listings </a></li>
        </ul>
    </footer>

</section>
{% endblock %}