{% extends "template.html" %}

{% block body %}
<br> <br>
<header class="special container">
	<span class="icon solid fa-star"></span>
	<h2> Reviews </h2>
</header>

<!-- •	reviewID (Primary Key): Unique identifier for each review.
•	reviewerID (Foreign Key): ID of the user writing the review.
•	reviewedUserID (Foreign Key): ID of the user being reviewed.
•	rating: Numerical rating given to the user (e.g., on a scale from 1 to 5).
•	comment: Text comment provided with the rating.
•	datePosted: Date the review was posted.
-->

<section class="wrapper style4 container special">
    <div class="row">
        <div class="col-4 col-12-narrower">

            <section>
                <span class="icon solid featured fa-comment"></span>
                <header>
                    <!-- reviewerID -->
                    <h3> User: reviewerID</h3>
                    <!-- reviwedUserID goes here -->
                    <h3> Reviewed: reviewedUserID</h3>
                    <!-- rating -->
                    <h3> Rated: 5 stars </h3>
                </header>

                <!-- comment -->
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget 
                    arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et 
                    sagittis turpis. Integer ut fermentum.</p>
            </section>

        </div>
        <div class="col-4 col-12-narrower">

            <section>
                <span class="icon solid featured fa-comment"></span>
                <header>
                    <!-- reviewerID -->
                    <h3> User: reviewerID</h3>
                    <!-- reviwedUserID goes here -->
                    <h3> Reviewed: reviewedUserID</h3>
                    <!-- rating -->
                    <h3> Rated: 5 stars </h3>
                </header>

                <!-- comment -->
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget 
                    arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et 
                    sagittis turpis. Integer ut fermentum.</p>
            </section>

        </div>
        <div class="col-4 col-12-narrower">

            <section>
                <span class="icon solid featured fa-comment"></span>
                <header>
                    <!-- reviewerID -->
                    <h3> User: reviewerID</h3>
                    <!-- reviwedUserID goes here -->
                    <h3> Reviewed: reviewedUserID</h3>
                    <!-- rating -->
                    <h3> Rated: 5 stars </h3>
                </header>

                <!-- comment -->
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget 
                    arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et 
                    sagittis turpis. Integer ut fermentum.</p>
            </section>
        </div>
    </div>
    <a href="/profile#mylistings" class="button primary"> Add New Review </a>
</section>
{% endblock %}