{% extends "prelogintemplate.html" %}

{% block body %}
<br> <br> <br> <br>
<!-- Acts as the log in page? -->
<header class="special container">
	<span class="icon solid fa-user"></span>
	<h2> Sign Up </h2>
</header>

<!-- One -->
	<section class="wrapper style4 special container medium">

		<!-- Content -->
			<div class="content">
				<form>
					<div class="row gtr-50">
						<div class="col-6 col-12-xsmall">
                            <input type="text" name="username" id="username" value="" placeholder="Username" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="password" id="password" value="" placeholder="Password" />
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Log in" class="primary" />
                        </div>
					</div>
				</form>
			</div>

	</section>
{% endblock %}